<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Label唯一的标识 -->
    <key>Label</key>
    <string>com.test</string>
    <!-- 指定要运行的脚本 -->
    <key>ProgramArguments</key>
    <array>
        <string>/Users/zhouyang/shell-task/testShell.sh</string>
    </array>
    <!-- 指定运行的时间 -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>1</integer>
        <key>Hour</key>
        <integer>0</integer>
    </dict>
    <!-- 时间间隔 -->
    <key>StartInterval</key>
    <integer>3</integer>
    <key>StandardOutPath</key>
    <!-- 标准输出文件 -->
    <string>/Users/zhouyang/shell-task/stdout</string>
    <!-- 标准错误输出文件，错误日志 -->
    <key>StandardErrorPath</key>
    <string>/Users/zhouyang/shell-task/error.txt</string>
</dict>
</plist>
